/* hsl(255,24,24) - darkslatergray */
/* hsl(256,25,33) - darkslateblue */


body {
  font-family: 'Poppins', sans-serif;
  margin: 5%;
}

button {
  border-radius: 10px;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border: none;
  width: fit-content;
  align-self: center;
  padding: 10px 20px 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left img {
  height: 30px;
  align-self: center;
}

.nav-left p {
  margin: 2%;
}

.nav-right p {
  padding-right: 10%;
}

.nav-right {
  display: flex;
}



/* Header section */

.header {
  display: flex;
  margin-left: 6%;
  margin-bottom: 40px;
}

.left-side {
  width: 600px
}

.right-side {
  width: 10%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

.left-side p {
  font-size: 22px;
}


/* search section  */
.search-section {
  padding-top: 3%;
  padding-bottom: 0.7%;
  display: flex;
  justify-content: center;
  background: rgb(94,73,125);
  background: radial-gradient(circle, rgba(94,73,125,1) 27%, rgba(59,48,84,1) 62%);
  height: 70px;
  width: 80vw;
  margin: 0 auto;
}

.search-section button {
  margin-left: 1%;
  align-self: stretch;
  height: 45px;
}

input {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 15px;
}

/* Advanced Statistics section */

.advanced-statistics {
  z-index: -1;
  position: relative;
  margin-top: -50px;
  padding-top: 120px;
  height: 100vh;
  background-color: rgb(219, 219, 219);
}

.statistics-header {
  text-align: center;
  margin-bottom: 10%;
}

.boxes1 {
  display: flex;
  justify-content: center;
}

.statistic-box {
  width: 300px;
  margin: 3%;
}



/* boost your links today  */
.calltoaction {
  height: 30vh;
  text-align: center;
  background: radial-gradient(circle, rgba(94,73,125,1) 27%, rgba(59,48,84,1) 62%);

}

footer {

  background-color: #231f27;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

