* {
  margin: 0;
  

  .header {
    background-color: hsl(180, 29%, 50%);
    height: 100px;
  }

  // Filtery Box thingy
  // Filtery Box thingy
  .click-filter-container {
    background-color: white;

    border: hsl(180, 29%, 50%) 3px solid;
    width: 80vw;
    height: 60px;
    margin: 20px auto;
  }
  // 


  .job-space {
    background-color: hsl(180, 52%, 96%);
    
  }

  .display-job-card {
    background-color: white;
    padding: 20px;
    display: flex;
    box-shadow: 2px 2px 10px hsl(180, 29%, 50%);
    
    justify-content: space-between;
    margin: 10px 100px 20px 100px;

    .job-display-image {
      img {
        max-width: 70px;
        padding-right: 20px;
       
      }
    }
  
    .card-left {

    display: flex;
    // justify-content: space-between;

      .card-middle {
        display: flex;
        flex-direction: column;
        
        
        .job-display-body { 
        display: flex;
        flex-direction: column;

        .job-position:hover{
          color: hsl(180, 29%, 50%);
        }

        .title-boolean {
          display: flex;

       
      
          .new-button {
            background-color: hsl(180, 29%, 50%);
            padding: 3px 6px 3px 6px;
            border-radius: 20px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 10px;
          }
          
          .featured-button {
            background-color: black;
            padding: 3px 6px 3px 6px;
            border-radius: 20px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 10px;
          }


          p {
            margin-right: 5px;
          }
        
          

          .title {
            color: hsl(180, 29%, 50%);
            font-weight: bold;
            padding-bottom: 10px;
          }

        }
        }

        
      
        .time-location {
        margin-top: 5px;
        display: flex;
        color: gray;
        font-weight: bold;

        p {
          font-size: 12px;
          margin-top: 2px;
        }

        }
      
      }
  }

 

  .langtools-id {
    display: flex;

  
 
    p:hover{ 
      background-color: hsl(180, 29%, 50%);
      color: hsl(180, 52%, 96%);
    }
  
    p {
      display: flex;
      flex-direction: column;
      align-self: center;
      color: hsl(180, 29%, 50%);
      font-weight: bold;
      font-size: 10px;
      background-color: hsl(180, 52%, 96%);
      padding: 10px;
      border-radius: 10px;
    }
  }

}
}


 
 



